@font-face {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-Bold.woff") format('woff');
}


@font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-Bold.woff") format('woff');
}


@font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-Light.woff") format('woff');
}


@font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-Bold.woff") format('woff');
}


@font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-ORegular.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy-SemiBold ☞';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gilroy-SemiBold.woff") format('woff');
}

* {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0 !important;
}

footer {
    margin: 0 !important;
}

img {
    margin: 0 !important;
}

ul {
    margin: 0 !important;
}